
body {
    font-family: 'Nunito', sans-serif;
    background-color: #F8F6FB;
    background-image: url('/QuestionMark/view/img_page/page_backgraund.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
