
<!-- Navbar superior -->
<div class="w3-bar w3-theme navbar">
    <div class="navbar-logo">
        <a href="/QuestionMark/home/view"><img src="/QuestionMark/view/img_page/logo2.png" alt="Logo 2"></a>
    </div>

    <div class="navbar-center">
        <a href="#">JUGAR</a>
    </div>

    <div class="navbar-right">
        <a href="#">Ranking</a>
        <a href="/QuestionMark/perfil/view">Perfil</a>
        <a href="/QuestionMark/login/logout">Desconectarse</a>
        <span><i class="fa fa-trophy"></i> Puntuación 1250</span>
    </div>
</div>
