
<!-- Navbar superior -->
<div class="w3-bar w3-theme navbar">
    <div class="navbar-logo">
        <a href="/QuestionMark/home/view"><img src="/QuestionMark/view/img_page/logo_navbar.png" alt="Logo 2"></a>
    </div>

    <div class="navbar-center">
        <a href="#">JUGAR</a>
    </div>

    <div class="navbar-right">
        <a href="/QuestionMark/home/view" class="icon-circle">
            <img src="/QuestionMark/view/img_page/hogar.png" alt="Home">
        </a>
        <a href="#" class="icon-circle">
            <img src="/QuestionMark/view/img_page/trofeo.png" alt="Ranking">
        </a>
        <a href="/QuestionMark/perfil/view" class="icon-circle">
            <img src="/QuestionMark/view/img_page/usuario.png" alt="Perfil">
        </a>
        <a href="/QuestionMark/login/logout" class="icon-circle">
            <img src="/QuestionMark/view/img_page/salir-alt.png" alt="Desconectarse">
        </a>
    </div>

</div>
