<!-- Navbar superior -->
<div class="w3-bar w3-theme navbar">
    <div class="navbar-logo">
        <a href="/editor/viewEditor"><img src="/view/img_page/logo_navbar.png" alt="Logo 2"></a>
    </div>

    <div class="navbar-center">
        <a href="/editor/viewEditor">Rol : EDITOR</a>
    </div>

    <div class="navbar-right">
        <a href="/editor/viewEditor" class="icon-circle">
            <img src="/view/img_page/hogar.png" alt="Home">
        </a>

        <a href="/login/logout" class="icon-circle">
            <img src="/view/img_page/salir-alt.png" alt="Desconectarse">
        </a>
    </div>

</div>
