<!DOCTYPE html>
<html>
<head>
    <title>Question Mark</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-purple.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/QuestionMark/view/styles/headerStyles.css">
    <link rel="stylesheet" href="/QuestionMark/view/styles/homeViewStyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/QuestionMark/view/img_page/icono_pagina.ico" />
    <style>
    </style>
</head>
<body>

{{> header}}

<div class="w3-content" style="max-width:1200px; margin-top:30px;">

    <!-- Bienvenida y puntuación -->
    <div class="w3-row-padding">

        <div class="w3-half">
            <div class="card">
                <h4>Bienvenido, <b>Carlos Rodríguez</b></h4>
                <p>¿Listo para poner a prueba tus conocimientos?</p>
                <div class="button-group">
                    <button class="w3-button w3-theme w3-round-large">+ Crear nueva partida</button>
                    <button class="w3-button w3-border w3-round-large">👁 Ver ranking</button>
                    <button class="w3-button w3-border w3-round-large">📄 Crear pregunta</button>
                </div>
            </div>
        </div>

        <div class="w3-half">
            <div class="card w3-center">
                <h3 class="w3-text-purple">1250</h3>
                <p>Posición #42 en el ranking global</p>
                <i class="fa fa-trophy w3-xlarge w3-text-amber"></i>
            </div>
        </div>

    </div>

    <!-- Historial de partidas -->
    <div class="card">
        <div class="w3-bar w3-border-bottom">
            <button class="w3-bar-item w3-button w3-theme-light w3-border-right">Historial de partidas</button>
            <button class="w3-bar-item w3-button">Amigos</button>
        </div>

        <h5 class="w3-margin-top">Tus partidas recientes</h5>

        <ul class="w3-ul w3-hoverable">
            <li class="w3-padding-16">
                <span class="w3-large">MariaTrivia</span> <span class="w3-right victoria">Victoria · 120 pts</span><br>
                <span class="w3-small">14/5/2023</span>
            </li>
            <li class="w3-padding-16">
                <span class="w3-large">QuizKing</span> <span class="w3-right derrota">Derrota · 80 pts</span><br>
                <span class="w3-small">13/5/2023</span>
            </li>
            <li class="w3-padding-16">
                <span class="w3-large">BrainMaster</span> <span class="w3-right victoria">Victoria · 150 pts</span><br>
                <span class="w3-small">11/5/2023</span>
            </li>
            <li class="w3-padding-16">
                <span class="w3-large">TriviaQueen</span> <span class="w3-right victoria">Victoria · 110 pts</span><br>
                <span class="w3-small">9/5/2023</span>
            </li>
            <li class="w3-padding-16">
                <span class="w3-large">MindChallenger</span> <span class="w3-right derrota">Derrota · 90 pts</span><br>
                <span class="w3-small">7/5/2023</span>
            </li>
        </ul>
    </div>

</div>

</body>
</html>
