<!DOCTYPE html>
<html>
<head>
    <title>Juega, aprende y compite</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-purple.css">
    <!-- Fuente Roboto de Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/view/styles/inicioViewStyles.css">
    <link rel="icon" type="image/x-icon" href="/view/img_page/icono_pagina.ico" />

    <style>
    </style>
</head>
<body class="w3-display-container w3-light-grey" style="height: 100vh;">

<div class="w3-display-middle w3-center">
    <!-- Aquí reemplazamos el texto por la imagen del logo -->
    <img src="view/img_page/logo_login2.png" alt="Logo QuestionMark" class="logo">

    <p class="subtitle">Juega, aprende y compite en nuestro juego de preguntas y respuestas</p>

    <div class="btn-container">
        <a href="/login/view" class="w3-button w3-theme w3-round-large">Iniciar Sesión</a>
        <a href="/register/register" class="w3-button w3-border w3-border-purple w3-text-purple w3-round-large">Registrarse</a>
    </div>

    <div class="admin-link">
        <a href="#" class="w3-text-purple">Acceso para administradores</a>
    </div>
</div>

</body>
</html>
