<!DOCTYPE html>
<html>
<head>
    <title>Perfil de Usuario</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-purple.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/QuestionMark/view/styles/headerStyles.css">
    <link rel="stylesheet" href="/QuestionMark/view/styles/jugarViewStyles.css">
    <link rel="stylesheet" href="/QuestionMark/view/styles/jugarResultadoCorrectoViewStyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/QuestionMark/view/img_page/icono_pagina.ico" />
</head>

<body>

{{> header}}

<div class="w3-container w3-card w3-round-large w3-padding">
    <div class="contenedor-partida" style="background-color: {{color_categoria}};">
        <div class="categoria"><h2>{{pregunta.categoria}}</h2></div>
        <div class="info">
            <p>
                <img src="/QuestionMark/view/img_page/marcas.png" class="info-icono">
                <span id="puntaje-actual">{{puntaje_actual}}</span>
            </p>
        </div>
        <img src="/QuestionMark/view/img_page/{{pregunta.categoria}}.png" class="categoria-img">
    </div>

    <div class="w3-container w3-light-grey w3-round-large w3-padding">
        <div class="contenedor-h3"><h3>{{pregunta.texto}}</h3></div>

        <!-- Opciones con estado -->
        {{#opciones}}
            <button class="boton-respuesta {{clase}}" disabled>
                {{letra}}) {{texto}}
            </button>
        {{/opciones}}

        <div class="w3-margin-top">
            {{#es_correcta}}
                <p class="w3-text-green"><strong>¡Respuesta correcta!</strong></p>
                <a href="/QuestionMark/jugar/view" class="w3-button w3-theme w3-round-large">Siguiente pregunta</a>
            {{/es_correcta}}

            {{^es_correcta}}
                <p class="w3-text-red"><strong>¡Respuesta incorrecta!</strong></p>

                <button class="w3-button w3-theme w3-round-large" onclick="window.location.href='/QuestionMark/jugar/view'">Volver a jugar</button>
            {{/es_correcta}}
        </div>
    </div>
</div>


</body>
</html>


