<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">

<div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
    <h2 class="text-2xl font-bold text-center mb-6">Iniciar Sesión</h2>

    {{#error_message}}
        <div class="w3-text-red" style="display: flex; justify-content: center; align-items: center; padding-bottom: 10px">
            {{error_message}}
        </div>
    {{/error_message}}

    <form action="/QuestionMark/login/doLogin" method="POST" class="space-y-4">


        <div>
            <label for="email" class="block font-semibold">Correo electrónico</label>
            <input type="email" id="email" name="email" required
                   class="w-full border rounded px-3 py-2">
        </div>

        <div>
            <label for="contrasenia" class="block font-semibold">Contraseña</label>
            <input type="password" id="contrasenia" name="contrasenia" required
                   class="w-full border rounded px-3 py-2">
        </div>

        <button type="submit"
                class="bg-purple-600 hover:bg-blue-700 text-white font-bold py-2 px-4 w-full rounded">
            Iniciar Sesión
        </button>

    </form>
</div>

</body>
</html>
